{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="conteiner">
        <div class="hero_message">Главная страница</div>
    </div>
</section>
<div class="bordered">
    <a class="btn btn-outline-primary 1" href="/search">Поиск</a>
    {% if current_user.is_authenticated %}
        <a class="btn btn-outline-primary 1" href="/my_offers">Мои предложения</a>
        <a class="btn btn-outline-primary 1" href="/add_offer">Новое предложение</a>
    <a class="btn btn-outline-primary 1" href="/basket">корзина</a>
    {% else %}
        <a class="btn btn-outline-primary 1" href="/login">Мои предложения</a>
        <a class="btn btn-outline-primary 1" href="/login">Новое предложение</a>
        <a class="btn btn-outline-primary 1" href="/login">Корзина</a>
    {% endif %}
</div>
<br><br><br><br>
{% for item in offers%}
<div class="bordered">
    <h2>{{item.name_offer}}</h2>
    <h4>Цена - {{item.price}}</h4>
    <div class="value">
        <h5>Описание: {{item.discription}}</h5>
    </div>
    <div class="bordered1" style="display: block">
        •Продавец: {{item.user.name}} {{item.user.surname}}<br>
        •Город: {{item.place}} <br>
        •Как cвязаться: <br>
        +{{item.user.number}}<br>
        {{item.user.email}}
    </div>
    {% if current_user.is_authenticated and current_user != item.user %}
        <div>
            <a href="add_basket/{{ item.id }}" class="btn btn-outline-primary">Добавить в корзину</a>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}