{% extends "base.html" %}

{% block content %}
<h1>{{ text }}</h1>
{% for item in offers %}
    <div class="col-md6 border rounded">
        <h2>{{item.name_offer}}</h2>
        <h4>Цена - {{item.price}}</h4>
        <div>
            Описание: {{item.discription}}
        </div>
        <div class="col-md7 border rounded">
            •Продавец: {{item.user.name}} {{item.user.surname}}<br>
            •Город: {{item.place}} <br>
            •Как cвязаться: <br>
            +{{item.user.number}}<br>
            {{item.user.email}}
        </div>
        {% if current_user.is_authenticated and current_user != item.user %}
        <div>
            <a href="add_basket/{{ item.id }}" class="btn btn-outline-primary">Добавить в корзину</a>
        </div>
    {% endif %}
    </div>
{% endfor %}
{% endblock %}